<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
  </head>
  <body>
    <div class="row">
      <div class="col s12">
        <div class="content">
          <h3>Edit User</h3>
          <%= form_for @user do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %><br>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br>
            <%= f.label :email %>
            <%= f.text_field :email %> <br>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
