<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>

    <div class="row">
    </div>

    <div class="row">
      <div class="col s12">
        <div class="content form">
          <h3>Sign Up</h3>
          <%= form_for @user do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %><br>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br>
            <%= f.label :email %>
            <%= f.text_field :email %> <br>
            <%= f.label :password %>
            <%= f.password_field :password %> <br>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %> <br>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
