<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Event</title>
  </head>
  <body>
    <h1>Create An Event</h1>
    <%= form_for @event do |f| %>
      <%= f.label "Title:" %><br>
      <%= f.text_field :title %><br><br>
      <%= f.label "Description:" %><br>
      <%= f.text_area :description %><br><br>
      <%= f.label "Start Date:" %>
      <%= f.datetime_select :start_date, :ampm => true, :minute_step => 15 %><br>
      <%= f.label "End Date:"%>
      <%= f.datetime_select :end_date, :ampm => true, :minute_step => 15%><br>
      <%= f.submit %>
    <% end %>
  </body>
</html>
