<!DOCTYPE html>
<html>
  <head>
    <title>CommunityServiceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <%= link_to image_tag("manatee.jpg"), root_path %>
      <%= button_to "Users", users_path, method: :get %>
      <%= button_to "Events", events_path, method: :get %>

      <% if logged_in? %>
        <%= button_to "Profile page", user_path(session[:user_id]), method: :get %>
        <%= button_to "Log Out", logout_path, method: :delete %>
        <%= button_to "Create Event", new_event_path, method: :get %>
      <% else %>
        <%= button_to "Sign Up", signup_path, method: :get %>
        <%= button_to "Log In", login_path, method: :get %>
      <% end %>

    </div>

    <div class="nav-bar">
      <% if logged_in? %>
        <p>Currently Logged in as: <%= current_user.full_name%></p>
      <% else %>
        <p>Not currently logged in</p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
